.fondoindex{ 
    background-image: url(../Imagenes/Fondos/fondo_index.jpeg);
    background-attachment: fixed;
    background-size: cover;
}
.fondocollection{
    background-image: url(../Imagenes/Fondos/fondo_collection.png);
    background-size: cover;
    background-attachment: fixed;
}
.fondoentrevista{ 
    background-image: url(../Imagenes/Fondos/fondo_entrevista.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.fondomasdenosotras{
    background-image: url(../Imagenes/Fondos/fondo_mas_de_nosotras.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.fondocontacto{
    background-image: url(../Imagenes/Fondos/fondo_contacto.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.fondocollections{
    background-color: #D0C0B5 ;
}
