footer{
    font-family: 'Gowun Batang', serif;
    font-size: 9px;
    color: white;
    letter-spacing: 3px;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    
}