/*TITULO PAGINAS*/

/*COLLECTION*/
.collection{
    position: relative; 
    font-family: 'Gowun Batang', serif;
    font-size: 35px;
    letter-spacing: 7px;
    text-align: center;
    color: white; 
    margin-top: 15%;
    padding: center;
}
/*ENTREVISTA*/
.entrevista{
    font-family: 'Gowun Batang', serif;
    font-size: 35px;
    line-height: 55px;
    letter-spacing: 7px;
    color: #FFFFFF;
    text-align: center;
}
/*MAS DE NOSOTRAS*/
.masdenos{
    font-family: 'Gowun Batang', serif;
    font-size: 35px;
    letter-spacing: 5px;
    text-align: center;
    color: white;  
}
/*CONTACTO*/
.contacto{
    font-family: 'Gowun Batang', serif;
    font-size: 35px;
    letter-spacing: 7px;
    text-align: left;
    color: white; 
    margin-top: 5%;
    padding: left;  
}
