.logo{ 
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    letter-spacing: 10px;
    text-align: left;
    margin-left: 0px;
    margin-top: 0px;
    position: absolute;
    color: white;
    font-style: italic;
}
.sublogo{ 
    font-family: 'Gowun Batang', serif;
    font-size: 13px;
    letter-spacing: 3px;
    text-align: left;
    margin-left: 7px;
    position: absolute;
    margin-top: 60px;
    color: white;
}