main{
    height: 73vh;
}
.main2{
    height: 42vh;
}

.main3{
    height: 10vh;
}
.main5{
    height: 130vh;
}
/*FLOWERS COLLECTION*/
.main6{
    height: 70vh;
}
/*DESERT COLLECTION*/
.main7{
    height: 63vh;
}